<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="p-2">
        <h1 class="text-">Flats available <%= @location.present? ? "in #{@location}" : nil  %></h1>
      </div>

      <div class="row px-2">
        <% @flats.each do |flat| %>
          <div class='col-md-6 g-2'>
            <%= link_to flat_path(flat), class: 'text-decoration-none text-black' do %>
              <div class="card-trip">
                <%= cl_image_tag flat.image.key %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= flat.name %></h2>
                    <p><%= flat.description.truncate(100) %> - <%= flat.address %></p>
                  </div>
                  <h2 class="card-trip-pricing">$<%= flat.price %>/night</h2>
                  <%= cl_image_tag flat.user.avatar.key, height: 40, width: 40, class: "card-trip-user avatar-bordered object-fit-cover" %>
                </div>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div style="width: 100%; height: 100%;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
