<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="p-2">
        <h1 class="text-">Flats available in <%= @location %></h1>
      </div>

      <div class="row">
        <% @flats.each do |flat| %>
          <% image_url = flat.image.presence || "https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXMlMjBtb2Rlcm58ZW58MHx8MHx8fDA%3D" %>

          <div class="col-md-6 col-sm-6 mb-4"> <!-- Bootstrap Grid -->
            <div class="flat-card" style="background-image: url('<%= image_url %>');">
              <div class="flat-info">
                <h2><%= link_to flat.name, flat, class: "flat-title" %></h2>
                <p><%= flat.description.truncate(100) %></p>
                <p><strong>Address:</strong> <%= flat.address %></p>
                <p class="card-text"><strong>Price:</strong> $<%= flat.price %>/night</p>
                <div class="button-group">
                  <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-secondary" %>
                  <%= link_to "Delete", flat_path(flat),  data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-secondary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <div style="width: 100%; height: 100%;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>


<!-- 🔙 Back to Home Button -->
<div style="margin-top: 20px;">
  <%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
</div>
