<h1>List Your Property</h1>

<%= form_with(model: @flat, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

   <div>
    <%= form.label :price, "Price per Night ($)" %>
    <%= form.number_field :price, class: "form-control", step: 1, min: 0 %>
  </div>

  <%= form.submit "List Property", class: "btn btn-success" %>
<% end %>

<!-- Back to Dashboard -->
<div style="margin-top: 20px;">
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
</div>
