<h1>List Your Property</h1>

<%= simple_form_for @flat do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :address %>
  <%= form.input :image, as: :file %>
  <%= form.input :price %>
  <%= form.submit "List property", class: 'btn btn-success' %>
<% end %>

<!-- Back to Dashboard -->
<div style="margin-top: 20px;">
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
</div>
