<h1>Edit Booking</h1>

<%= form_with(model: [@booking.flat, @booking], local: true) do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, ["Pending", "Confirmed", "Cancelled"], {}, class: "form-control" %>
  </div>

  <%= form.submit "Update Booking", class: "btn btn-primary" %>
<% end %>

<!-- Back to Dashboard Button -->
<div style="margin-top: 20px;">
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
</div>
